.Main-contents {
  background-color:	#FFFFEE;
  width: calc(100vw - 70px);
  height: 100vh;
  margin: 70px 0 0 70px;
  overflow: scroll;
  .Main-contents__message {
    background-color: lightcoral;
    font-size: 40px;
  }
  .Main-contents__content {
    display: flex;
    float: left;
    height: 100vh;
    background-color: yellow;
    &__posts {
      background-color: lightseagreen;
      width: 250px;
      height: 300px;
      margin: 30px 0 0 30px;
      &__image {
        background-color: lightpink;
        height: 200px;
      }
      &__game-name {
        background-color: lightsteelblue;
        
      }
      &__game-hard {
        background-color: lightslategrey;
      }
      &__title {
        background-color: white;
      }
    }
  }
}