.Main-contents {
  background-color:	#FFFFEE;
  width: calc(100vw - 70px);
  height: 100vh;
  margin: 70px 0 0 70px;
  padding: 0 30px 30px;
  overflow: scroll;
  &__message {
    background-color: lightcoral;
    font-size: 40px;
    margin-top: 40px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    &::after {
      content:"";
      display:block;
      width: 29.5%;
      height:0;
    }
    .Main-post {
      width: 250px;
      height: 330px;
      margin-top: 60px;
      &__image {
        background-color: lightpink;
        height: 200px;
        padding: 10px;
      }
      &__game-name {
        background-color: lightsteelblue;
        padding: 0 5px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &__game-hard {
        background-color: lightslategrey;
        padding: 0 5px;
        text-align: center;
        /*overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;*/
      }
      &__title {
        background-color: white;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-break: break-all;
      }
    }
  }
}

