.Side-bar {
  background-color: #FFFFDD;
  width: 70px;
  height: 100%;
  position: fixed;
  border-right: 1px solid gainsboro;
  &__items {
    margin-top: 50px;
    padding: 3px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      font-size: 40px;
      .items-btn {
        color: #444444	;
      }
    }
    &__name{
      font-size: 12px;
      font-weight: bold;
      color: #444444;
    }
  }
}