/*deviseの新規登録など*/
.Devise-main {
  margin-top: 70px;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFDD;
  &__contents {
    height: 100vh;
    padding-top: 70px;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFEE;
    h1 {
      font-size: 35px;
      margin-bottom: 20px;
      color: #EE0000;
    }
    .new_user {
      display: flex;
      flex-direction: column;
      height: 500px;
      .field {
        margin-top: 20px;
        &__name {
          font-size: 20px;
        }
        &__box {
          width: 300px;
          padding: 0 5px;
        }
      }
      .actions {
        margin-top: 50px;
        font-size: 20px;
      }
    }
  }
}
