.Main-contents
  .Main-contents__message
    新着おすすめゲーム！
  .Main-contents__content
    - @posts.each do |post|
      .Main-post
        .Main-post__image
          = post.image
        .Main-post__game-name
          = post.game_name
        .Main-post__game-hard
          = post.game_hard
        .Main-post__title
          = post.title
