.Main-contents
  .Main-contents__message
    新着おすすめゲーム！
  .Main-contents__content
    .Main-contents__content__posts
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        見出し

    .Main-contents__content__posts
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        見出し
    
    .Main-contents__content__posts
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        見出し

    .Main-contents__content__posts
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        見出し
