.Main-contents
  .Main-contents__message
    新着おすすめゲーム！
  .Main-contents__content
    .Main-post
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        .p
          見出し

    .Main-post
      .Main-post__image
        □
      .Main-post__game-name
        ニュースーパーマリオブラザーズ
      .Main-post__game-hard
        ニンテンドー3DS 
      .Main-post__title
        見出し/これはテキストです。試しに打っているテスト、よろしくお願いします。
        もう書くことがないよ。
    
    .Main-post
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        .p
          見出し

    .Main-post
      .Main-post__image
        □
      .Main-post__game-name
        ゲーム名
      .Main-post__game-hard
        ハード名
      .Main-post__title
        .p
          見出し
