.Side-bar
  .Side-bar__items
    .Side-bar__items__icon
      =link_to posts_index_path, class: "items-btn" do
        = icon('fas', 'chess-queen', class: "items-btn")
    .Side-bar__items__name
      ランキング
  .Side-bar__items
    .Side-bar__items__icon
      =link_to new_post_path, class: "items-btn" do
        = icon('far', 'thumbs-up', class: "items-btn--icon")
    .Side-bar__items__name
      いいね